<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content=" {{ site.description }}">
	<meta name="author" content="{{ site.name }}">
		
	<title>Empower - Amable Book</title>
	
    <!--  CSS  -->
	<link type="text/css" rel="stylesheet" href="../assets/css/main.css" />   	
    
</head>    

<body>    
	<div id="container">

		<header> 
			<a class="brand" href="/"> 
				<h1> Empower</h1>
			</a>
			<p> A book about about empowering children</p> 

			<span class="separator">| <span> <a href="http://amable.in">Amable</a>
			<span class="separator">| <span> <a href="http://geniekids.com">Geniekids</a>
			<span class="separator">| <span> <a href="http://aarohilife.org">Aarohilife</a>
		</header>

		<div id="main">